*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* regole di reset */
}

nav{
    background-color: rgb(255, 105, 0);
}

.container-nav{

    max-width: 1440px;
    height: 70px;

    margin-left: auto;
    margin-right: auto;
}

.container.nav-links{
    display: flex;
   
}

.gender{
    display: flex;
}
.logo{
    display: flex;
    
    width: 140px;
    height: 33px;
}

